.item
	width: 20%
	max-width: 180px
	line-height: 91%
	color: #333333

	&__img-wrapper
		height: 250px
		width: 185px
		display: flex
		justify-content: center
		align-items: center
	&__img
		max-width: 100%
		width: auto
		height: auto
		max-height: 100%
		border-radius: 20px
	&__title-group
		padding: 20px 0 25px
	&__title
		font-weight: 600
		font-size: 15px
		text-transform: uppercase
	&__country
		font-weight: 400
		font-size: 13px
		padding-bottom: 10px
	&__genre
		font-size: 13px
		line-height: 18px
		padding-bottom: 22px

.category-page .item
	width: 50%
	max-width: 509px
	display: flex

	.item__description-group
		padding-left: 43px
	
	.item__country
		display: none
	
	.item__title-group
		padding: 0 0 57px 0